{{app-header}}

{{#if model.teamWorking}}
  {{home-banner banners=model.teamWorking}}
{{/if}}
<section id="home-enterprise" class="content-section content-homeenterprise clearfix">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{#each model.buildingDisTitle as |disTitle|}}
        <header class="content-header">
          <h2 class="title-content wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">{{disTitle.title}}</h2>
        </header><!-- / .content-header -->
        {{/each}}
      </div>
    </div><!-- / .row -->

    <div class="row homeenterprise-container">
      {{#each model.buildingDis as |dis|}}
      <div class="col-md-4 item-enterprise clearfix wow fadeInLeft" data-wow-duration="1s" data-wow-delay="250ms">
        <div class="subitem-enterprise">
          <img src="http://ec2-54-83-80-20.compute-1.amazonaws.com{{dis.gallery}}" width="130" alt="">
          <h3><a href="#">{{dis.itemTitle}}</a></h3>
          <p>{{dis.itemDescription}}</p>
        </div>
      </div><!-- / .item-enterprise -->
      {{/each}}
    </div><!-- / .row .homeenterprise-container -->

    <div class="clearfix"></div>
    <div class="space100"></div>
    <div class="text-center">
    {{#link-to 'about' class="btn btn-pink"}}about us{{/link-to}}
    </div>

  </div>
</section>

<section id="homeservices" class="content-section bg-gradient-purple clearfix">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{#each model.sciSerTitle as |serTitle|}}
        <header class="content-header">
          <h2 class="title-content">{{serTitle.title}}</h2>
          <p class="subtitle-content">{{serTitle.description}}</p>
        </header>
        {{/each}}
      </div>
    </div><!-- / .row -->
    
    {{#if model.sciSer}}
      {{home-services services=model.sciSer}}
    {{/if}}

    <hr class="content-sep">
    <div class="box-info-services clearfix">
      <div class="pull-left">
        <p class="">know more about sciensa services & found out about the company</p>
      </div>
      <div class="pull-right">
        {{#link-to 'about' class="btn btn-pink"}}about us{{/link-to}}
      </div>
    </div>

  </div>
</section>

<section id="client" class="content-section content-homeclient clearfix">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <header class="content-header">
          <h2 class="title-content-small">clients case</h2>
        </header>

      </div>
    </div><!-- / .row -->

    <div class="row homeclient-container">
      {{#each model.clientsCase as |case|}}
      <div class="col-md-3 item-client clearfix wow fadeInUp" data-wow-duration="1s" data-wow-delay="250ms">
        <div class="subitem-client">
          <figure>
            <img src="http://ec2-54-83-80-20.compute-1.amazonaws.com{{case.gallery}}" alt="">
          </figure>

          <a href="#">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div><!-- / .item-client -->
      {{/each}}
    </div><!-- / .client-container -->

  </div>
</section>

<section id="home-articles" class="content-section content-homearticles clearfix">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{#each model.loremIpsum as |lorem|}}
        <header class="content-header">
          <h2 class="title-content">{{lorem.title}}</h2>
        </header>
        {{/each}}
      </div>
    </div><!-- / .row -->

    <div class="row articles-container">

      <div class="col-md-4 item-articles wow fadeInLeft" data-wow-duration="1s" data-wow-delay="250ms">
        <div class="subitem-articles clearfix">
          <div class="caption-articles">
            <header>
              <p class="meta-extra">01.08.2015</p>
              <h3>digital transformation & culture</h3>
            </header>
            <a href="#" class="link">
              <i class="fa fa-mail-forward"></i>
            </a>
            <footer>
              <figure>
                <img src="assets/images/user70.png" alt="">
              </figure>
              <p class="meta-authors">By Renan Barreto</p>
            </footer>
          </div>
          <img src="assets/images/blog/1.jpg" alt="">
        </div>
      </div><!-- / .item-articles -->

      <div class="col-md-4 item-articles wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1s">
        <div class="subitem-articles clearfix">
          <div class="caption-articles">
            <header>
              <p class="meta-extra">01.08.2015</p>
              <h3>digital transformation & culture</h3>
            </header>
            <a href="#" class="link">
              <i class="fa fa-mail-forward"></i>
            </a>
            <footer>
              <figure>
                <img src="assets/images/user70.png" alt="">
              </figure>
              <p class="meta-authors">By Renan Barreto</p>
            </footer>
          </div>
          <img src="assets/images/blog/2.jpg" alt="">
        </div>
      </div><!-- / .item-articles -->

      <div class="col-md-4 item-articles wow fadeInRight" data-wow-duration="1s" data-wow-delay="250ms" >
        <div class="subitem-articles clearfix">
          <div class="caption-articles">
            <header>
              <p class="meta-extra">01.08.2015</p>
              <h3>digital transformation & culture</h3>
            </header>
            <a href="#" class="link">
              <i class="fa fa-mail-forward"></i>
            </a>
            <footer>
              <figure>
                <img src="assets/images/user70.png" alt="">
              </figure>
              <p class="meta-authors">By Renan Barreto</p>
            </footer>
          </div>
          <img src="assets/images/blog/3.jpg" alt="">
        </div>
      </div><!-- / .item-articles -->

    </div><!-- / .articles-container -->

    <div class="clearfix"></div>
    <div class="space75"></div>
    <div class="text-center">
      <a href="#" class="btn btn-line-gray">see our awesome articles</a>
    </div>

  </div>
</section>
{{app-footer}}